h1 {
	text-align: center;
	font-family: "Courier New", monospace;
	font-size: 3.125em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

body {
    background-color: #fff8dc;
    color: #333;
    display: flex;
}

.sidebar {
    width: 15em;
    height: 100vh;
    background-color: #f7d774;
    padding: 1.875em 1.25em;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0.25em 0 0.625em rgba(0,0,0,0.05);
}

.sidebar h2 {
    margin-bottom: 2.5em;
    font-weight: 700;
    color: #444;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    margin: 1.25em 0;
}

.nav-links a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    padding: 0.625em 0.9375em;
    display: block;
    border-radius: 0.5em;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #fff3b0;
    transform: translateX(0.3125em);
}

.main-content {
    margin-left: 1em;
    padding: 3.75em;
    flex: 1;
}

.hero {
    max-width: 37.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 1.25em;
}

.hero p {
    font-size: 1.125em;
    margin-bottom: 1.875em;
    line-height: 1.6;
    color: #555;
}

.hero button {
    align-self: center;
    padding: 0.75em 1.562em;
    background-color: #f4c430;
    border: none;
    border-radius: 1.562em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px;
}

.hero button:hover {
    background-color: #e6b800;
    transform: scale(1.05);
}

.features {
    margin-top: 3.75em;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1.562em;
    border-radius: 0.9375em;
    box-shadow: 0 0.5em 1.25em black;
    flex: 1 1 15em;
    transition: 0.3s;
    min-width: 400px;
    max-width: 400px;
    margin-left: 70px;
}

.card:hover {
    transform: translateY(-0.625em);
    cursor: pointer;
}

.card h3 {
    margin-bottom: 0.9375em;
    color: #444;
}

.card p {
    color: #666;
    font-size: 0.875em;
}

@media (max-width: 48em) {
    body {
        flex-direction: column;
    }

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .main-content {
        margin-left: 0;
        padding: 1.875em;
    }
}

.options {
    text-decoration: none;
    color: inherit;
    display: block;
}

#max {
    position: fixed; 
    bottom: 3.125em; 
    right: 3.125em; 
    cursor: pointer;
}
.parrotContainer {
    position: relative;
    width: 5em;
    height: 7.5em;
}
.behind, .top {
  position: absolute;
  transition: opacity 0.5s;
}
.hidden {
  opacity:0;
  pointer-events:none;
}
h4 {
    font-size: 0.5em;
}