body {
    background-color: #fff8dc;
    text-align: center;
    color: #333;
    font-family: "Courier New", monospace;
	font-size: 25px;
}
.container {
    display: block;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
