h1 {
    text-align: center;
	font-family: "Courier New", monospace;
	font-size: 2.188em;
    margin-left: 9%;
}
h2 {
    font-size: 1.5em;
    color: rgba(110, 195, 255, 0.805);
}
h3 {
    font-size: 0.9375em;
}
h4 {
    font-size: 0.5em;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}
.topbar {
    width: 100%;
    height: 6.25em;
    background-color: #f7d774;
    padding: 1.875em 1.25em;
    position: absolute;
    box-shadow: 0.25em 0 0.625em rgba(0,0,0,0.05);
}
#name {
    cursor: pointer;
}
.options {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    font-size: 3.125em;
}
.options:hover {
    transform: translateY(-0.625em);
    cursor: pointer;
}
.courses {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
}
.dash {
    display:flex;
    align-items: center;
    margin-left: 40%;
}
body {
    background-color: #fff8dc;
    color: #333;
}
.container {
    display: grid;
    padding: 3.125em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2em;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: scale(0.5) translateY(-3.125em);
    animation: popIn 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
    background-color: #fffdf5;
    padding: 0.9375em;
    border-radius: 0.9375em;
    box-shadow: 0 0.5em 1.25em black;
    flex: 1 1 15.62em;
    transition: 0.3s;
    min-height: 20em;
}
.box:hover {
    box-shadow: 0 0.5em 1.25em rgba(255, 132, 212, 0.805);
    cursor: pointer;
}
.box h3 {
    color: #ffa4ff;
    margin-bottom: 0.625em;
    font-size: 1.125em;
}
.box p {
    color: #3f3f3f;
    font-size: 0.875em;
    line-height: 1.5;
    flex-grow: 1;
}
@keyframes popIn {
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
.box:nth-child(1) { animation-delay: 0.1s; }
.box:nth-child(2) { animation-delay: 0.2s; }
.box:nth-child(3) { animation-delay: 0.3s; }
.box:nth-child(4) { animation-delay: 0.4s; }
.box:nth-child(5) { animation-delay: 0.5s; }
.box:nth-child(6) { animation-delay: 0.6s; }
.box:nth-child(7) { animation-delay: 0.7s; }
.box:nth-child(8) { animation-delay: 0.8s; }

.box label {
    font-size: 1em;
}