body {
    font-family: "Courier New", monospace;
    background: #f4f6f9;
    margin: 0;
    padding: 20px;
}

.quiz-container {
    max-width: 700px;
    margin: auto;
    background: #f7d774;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px black;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.question {
    margin-bottom: 25px;
}

.question p {
    font-weight: bold;
}

label {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}

button {
    display: block;
    margin: 20px auto;
    background: orange;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #e6b800;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}